<div class="content" style="position: relative;">
  <div class="page__bd">
    <article class="weui-article">
      <h1>{{service.name}}</h1>
      <section>
        <p><img src="{{service.logo ? service.logo  : '../../assets/images/c3.jpg'}}" alt=""></p>
        <div class="" id="serviceContent">

        </div>
      </section>
    </article>
  </div>
</div>

  <div class="weui-footer weui-footer_fixed-bottom page__bd_spacing">
    <span href="javascript:" class="weui-btn blue" ng-click="apply()">申请服务</span>
  </div>

<div id="loadingToast" style="display:none;">
  <div class="weui-mask_transparent"></div>
  <div class="weui-toast">
    <i class="weui-loading weui-icon_toast"></i>
    <p class="weui-toast__content">提交中</p>
  </div>
</div>

<div id="successToast" style="display: none;">
  <div class="weui-mask_transparent"></div>
  <div class="weui-toast">
    <i class="weui-icon-success-no-circle weui-icon_toast"></i>
    <p class="weui-toast_content">已完成</p>
  </div>
</div>

