
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>积分规则</title>
</head>

<body class="points-rule-bg">
<div class="points-rule-box points-rule-bg">
    <div class="rule-box rule-box1">
        <div class="tit"><span class="tit1">积分规则</span></div>
        <ul>
            <li><span class="index">1.</span>绑定注册即送<span class="num">200</span>积分</li>
            <li><span class="index">2.</span>提交工单送积分，由客服/管理员审核后 分配积分
                <a class="link" ui-sref="order.list">我要提工单&gt;&gt;</a>
            </li>
        </ul>
        <div class="tit"><span class="tit1">敬请期待</span></div>
        <ul>
            <li><span class="index">1.</span>互动积分，扩展更多积分项目；</li>
            <li><span class="index">2.</span>员工荣誉体系</li>
            <li><span class="index">3.</span>员工福利体系</li>
            <li>后期会逐步丰富积分体系，期待大家的反馈</li>
        </ul>
    </div>
    <div class="rule-box">
        <div class="tit">注意事项</div>
        <ul>
            <li><span class="index">1.</span>积分变更提醒：积分到账或消耗会有消息提醒，敬请关注。</li>
            <li><span class="index">2.</span>提交工单积分说明：提交工单的积分是在工单审核后分配，会有一定时间延迟。</li>
            <li><span class="index">3.</span>积分清零：当年的累积积分将在第二个自然年年底清零，举例：2018年12月31日清除员工在2017年1月1日至2017年12月31日获得积分。</li>
            <li><span class="index">4.</span>员工离职：员工离职后，积分清零。</li>
        </ul>
    </div>
</div>

</body>

</html>