<div class="head">
    <div class="wrap clearfix">
        <div class="logo">
            <img src="../assets/images/img-logo1.png" />
        </div>
        <div class="head-right">
            <span class="icon icon-user">您好：张山山 (软件研发部)</span>
            <a href="javascript:void(0);" class="icon icon-quit">[退出]</a>
        </div>
    </div>
</div>
<div class="">
    <div class="head-menu">
        <div class="title clearfix">
            <h2 class="tit">我的工单</h2>
            <button id="addBtn" type="button" class="add-btn btn">新建工单</button>
        </div>
        <div class="menu-screen">
            <div class="screen-box clearfix">
                <span class="screen-tit">状态</span>
                <div class="screen-nav">
                    <a class="active" href="javascript:void(0);">全部</a>
                    <a href="javascript:void(0);">进行中</a>
                    <a href="javascript:void(0);">已解决</a>
                    <a href="javascript:void(0);">已下架</a>
                    <a href="javascript:void(0);">已关闭</a>
                </div>
            </div>
        </div>
    </div>

    <div class="wo-list">
        <ul>
            <li>
                <a class="wo-item" href="javascript:void(0);">
                    <h3 class="wo-tit">OA系统审批流程无法审批<span class="state state1">进行中</span></h3>
                    <div class="cont ellipsis-2">这个审批人并不是每次都要修改流程，平时不修改的时候还是按照原流程流转;如果修改的话也并不一定是在当前节点之前、之后、或是并行的加个审批人，有时还需要添加审批的节点，设置流程走向并且针对这个节点设置读写属性。这个审批人并不是每次都要修改流程，平时不修改的时候还是按照原流程流转;如果修改的话也并不一定是在当前节点之前、之后、或是并行的加个审批人，有时还需要添加审批的节点，设置流程走向并且针对这个节点设置读写属性。</div>
                    <div class="clearfix">
                        <div class="fl text">当前责任人：张小小</div>
                        <div class="fr time">2018-09-28</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="wo-item" href="javascript:void(0);">
                    <h3 class="wo-tit">OA系统审批流程无法审批<span class="state state2">已解决</span></h3>
                    <div class="cont ellipsis-2">这个审批人并不是每次都要修改流程，平时不修改的时候还是按照原流程流转;如果修改的话也并不一定是在当前节点之前、之后、或是并行的加个审批人，有时还需要添加审批的节点，设置流程走向并且针对这个节点设置读写属性</div>
                    <div class="clearfix">
                        <div class="fl text">当前责任人：张小小</div>
                        <div class="fr time">2018-09-28</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="wo-item" href="javascript:void(0);">
                    <h3 class="wo-tit">OA系统审批流程无法审批<span class="state state3">已关闭</span></h3>
                    <div class="cont ellipsis-2">这个审批人并不是每次都要修改流程，平时不修改的时候还是按照原流程流转;如果修改的话也并不一定是在当前节点之前、之后、或是并行的加个审批人，有时还需要添加审批的节点，设置流程走向并且针对这个节点设置读写属性</div>
                    <div class="clearfix">
                        <div class="fl text">当前责任人：张小小</div>
                        <div class="fr time">2018-09-28</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="wo-item" href="javascript:void(0);">
                    <h3 class="wo-tit">OA系统审批流程无法审批<span class="state state1">进行中</span></h3>
                    <div class="cont ellipsis-2">这个审批人并不是每次都要修改流程，平时不修改的时候还是按照原流程流转;如果修改的话也并不一定是在当前节点之前、之后、或是并行的加个审批人，有时还需要添加审批的节点，设置流程走向并且针对这个节点设置读写属性</div>
                    <div class="clearfix">
                        <div class="fl text">当前责任人：张小小</div>
                        <div class="fr time">2018-09-28</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="wo-item" href="javascript:void(0);">
                    <h3 class="wo-tit">OA系统审批流程无法审批<span class="state state1">进行中</span></h3>
                    <div class="cont ellipsis-2">这个审批人并不是每次都要修改流程，平时不修改的时候还是按照原流程流转;如果修改的话也并不一定是在当前节点之前、之后、或是并行的加个审批人，有时还需要添加审批的节点，设置流程走向并且针对这个节点设置读写属性</div>
                    <div class="clearfix">
                        <div class="fl text">当前责任人：张小小</div>
                        <div class="fr time">2018-09-28</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="wo-item" href="javascript:void(0);">
                    <h3 class="wo-tit">OA系统审批流程无法审批<span class="state state1">进行中</span></h3>
                    <div class="cont ellipsis-2">这个审批人并不是每次都要修改流程，平时不修改的时候还是按照原流程流转;如果修改的话也并不一定是在当前节点之前、之后、或是并行的加个审批人，有时还需要添加审批的节点，设置流程走向并且针对这个节点设置读写属性</div>
                    <div class="clearfix">
                        <div class="fl text">当前责任人：张小小</div>
                        <div class="fr time">2018-09-28</div>
                    </div>
                </a>
            </li>
        </ul>
        <div class="page">
            <a class="prev" href="javascript:void(0);">&nbsp;</a>
            <a class="active" href="javascript:void(0);">1</a>
            <a href="javascript:void(0);">2</a>
            <a href="javascript:void(0);">3</a>
            <a href="javascript:void(0);">4</a>
            <a href="javascript:void(0);">5</a>
            <a href="javascript:void(0);">6</a>
            <a href="javascript:void(0);">7</a>
            <a href="javascript:void(0);">8</a>
            <a href="javascript:void(0);">9</a>
            <a href="javascript:void(0);">···</a>
            <a href="javascript:void(0);">16</a>
            <a class="next" href="javascript:void(0);">&nbsp;</a>
        </div>
    </div>

</div>

<!--新建工单-->
<div class="mask-box"></div>
<div id="alertResult" class="alert-box">
    <div class="title"><span class="tit">新建工单</span><span class="close-pop"></span></div>
    <div class="alert-cont">
        <form class="form-box">
            <ul class="form-list">
                <li class="input-box clearfix">
                    <label class="tit"><span class="must c-red">*</span>工单标题</label>
                    <div class="cont">
                        <input class="input" type="text" placeholder="请填写工单标题">
                    </div>
                </li>
                <li class="textarea-box clearfix">
                    <label class="tit"><span class="must c-red">*</span>工单描述</label>
                    <div class="cont">
                        <textarea class="textarea" name="" rows="5" placeholder="请填写工单描述"></textarea>
                    </div>
                </li>
                <li class="select-box clearfix">
                    <label class="tit"><span class="must c-red">*</span>工单类型</label>
                    <div class="cont">
                        <div class="styled-select">
                            <label>请选择工单类型</label>
                            <select>
                                <option value="1">1、账号、权限相关-李缘缘 </option>
                                <option value="2">2、HR相关-陈杰 </option>
                                <option value="3">3、电话配置及故障 沈龙龙</option>
                                <option value="4">4、网络故障、视频会议、监控、考勤机故障-赵兆 </option>
                                <option value="5">5、云桌面故障-吴鹏程</option>
                            </select>
                        </div>
                    </div>
                </li>
                <li class="imgs-box clearfix">
                    <label class="tit">图片上传</label>
                    <div class="cont">
                        <div class="upload-img-list clearfix">
                            <div class="img-item">
                                <img class="img" src="../img/img-head.png">
                                <span class="del"></span>
                            </div>
                            <div class="img-item">
                                <img class="img" src="../img/img-head.png">
                                <span class="del"></span>
                            </div>
                            <div class="img-item">
                                <img class="img" src="../img/img-head.png">
                                <span class="del"></span>
                            </div>
                            <div class="img-item">
                                <img class="img" src="../img/img-head.png">
                                <span class="del"></span>
                            </div>
                            <div class="img-item">
                                <img class="img" src="../img/img-head.png">
                                <span class="del"></span>
                            </div>
                            <div class="add-img img-item">
                                <img class="add" src="../img/icon-add.png">
                                <p class="text2">点击添加图片</p>
                                <input type="file" accept="image/*" id="image-2">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </form>
    </div>
    <div class="btn-box">
        <button id="closeAlert" type="button" class="btn-outlined">取消</button>
        <button id="submitBtn" type="button" class="btn">提交</button>
    </div>
</div>

<script src="../js/public.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $("#addBtn").click(function() {
        openPop()
    });

    $(".close-pop").click(function() {
        closePop();
    });

    $("#closeAlert").click(function() {
        closePop();
    });

    $("#submitBtn").click(function() {
        closePop();
    });

    function openPop() {
        $("#alertResult").show();
        $(".mask-box").show();
    }

    function closePop() {
        $("#alertResult").hide();
        $(".mask-box").hide();
    }
</script>
