
		<div class="head">
			<div class="wrap clearfix">
				<div class="logo">
					<img src="/assets/img/img-logo.png" />
				</div>
				<ul class="top-menu">
					<li class="menu-item">
						<a ui-sref="bill">即时工单</a>
					</li>
					<li class="menu-item">
						<a ui-sref="feedback">问题反馈</a>
					</li>
					<li class="menu-item active">
						<a ui-sref="complain">匿名投诉</a>
					</li>
					<li class="menu-item">
						<a ui-sref="letter">总裁信箱</a>
					</li>
				</ul>
				<div class="head-right">
					<span class="icon icon-notice" ui-sref="rule"></span>
				</div>
			</div>
		</div>
		<div class="main clearfix">
			<div class="main-box main-l">
				<div class="jc-title clearfix">
					<h2 class="tit">投诉列表</h2>
				</div>
				<ul class="complain-list">
					<li class="complain-item" ng-repeat="item in list">
						<a href="javascript:void(0);">
							<div class="tit-box">
								<h3 class="tit">{{item.resultTitle}}</h3>
							</div>
							<div class="cont">{{item.result}}；</div>
							<div class="info clearfix">
								<div class="info-item">
									<span class="type">{{item.category}}</span>
								</div>
								<div class="info-item">
									<span class="time">{{item.created | date: 'yyyy-mm-dd'}}发布</span>
								</div>
							</div>
						</a>
					</li>
				</ul>
				<div class="page">
					<div class="page-list">
						<a class="{{currentPage == item ? 'active' : ''}}" ng-click="pageChanged(item)" ng-repeat="item in pages">{{item}}</a>
					</div>
				</div>
			</div>
			<div class="main-box main-r">
				<div class="jc-title clearfix">
					<h2 class="tit">匿名投诉</h2>
				</div>
				<form class="form-box">
					<ul class="form-list">
						<li class="form-item select-box">
							<span class="must c-red">*</span>
							<label class="tit">投诉类型</label>
							<div class="cont">
								<div class="select-list select-list1 clearfix">
									<div class="select-item {{state == '贪污受贿' ? 'active' : ''}}">
										<a ng-click="setState('贪污受贿')">贪污受贿</a>
									</div>
									<div class="select-item {{state == '公款私用' ? 'active' : ''}}">
										<a ng-click="setState('公款私用')">公款私用</a>
									</div>
									<div class="select-item {{state == '职场骚扰' ? 'active' : ''}}">
										<a ng-click="setState('职场骚扰')">职场骚扰</a>
									</div>
									<div class="select-item {{state == '公报私仇' ? 'active' : ''}}">
										<a ng-click="setState('公报私仇')">公报私仇</a>
									</div>
									<div class="select-item {{state == '倒卖公司资源' ? 'active' : ''}}">
										<a ng-click="setState('倒卖公司资源')">倒卖公司资源</a>
									</div>
									<div class="select-item {{state == '消极工作' ? 'active' : ''}}">
										<a ng-click="setState('消极工作')">消极工作</a>
									</div>
									<div class="select-item {{state == '其他' ? 'active' : ''}}">
										<a ng-click="setState('其他')">其他</a>
									</div>
								</div>
							</div>
						</li>
						<li class="form-item input-box">
							<span class="must c-red">*</span>
							<label class="tit">投诉标题</label>
							<div class="cont">
								<input class="input" type="text" ng-model="title" placeholder="请输入投诉标题，不少于5个字" />
							</div>
						</li>
						<li class="form-item textarea-box">
							<span class="must c-red">*</span>
							<label class="tit">投诉详情</label>
							<div class="cont">
								<textarea class="textarea" ng-model="content" rows="5" placeholder="请输入投诉详情，不少于12个字"></textarea>
								<div class="note c-red">注：所有投诉均匿名且不公开，请放心投诉</div>
							</div>
						</li>
					</ul>
					<div class="btn-box">
						<button type="button" class="btn-outlined" ng-click="clear()">清除</button>
						<button type="button" class="btn" ng-click="addComplain()">提交</button>
					</div>
				</form>
			</div>
		</div>

		<!--返回顶部-->
		<a href="javascript:void(0);" class="return_top"></a>
