
		<div class="head">
			<div class="wrap clearfix">
				<div class="logo">
					<img src="../assets/img/img-logo.png" />
				</div>
				<ul class="top-menu">
					<li class="menu-item">
						<a ui-sref="bill">即时工单</a>
					</li>
					<li class="menu-item">
						<a ui-sref="feedback">问题反馈</a>
					</li>
					<li class="menu-item ">
						<a ui-sref="complain">匿名投诉</a>
					</li>
					<li class="menu-item active">
						<a ui-sref="letter">总裁信箱</a>
					</li>
				</ul>
				<div class="head-right">
					<span class="icon icon-notice" ui-sref="rule"></span>
				</div>
			</div>
		</div>
		<div class="main-top">
			<div class="jc-title clearfix">
				<h2 class="tit tit-icon icon1">最新规章制度</h2>
			</div>
			<ul class="rule-t-list">
				<li class="rule-item">
					<a href="javascript:void(0);">
						<h3 class="tit ellipsis-2">锦创科技股份有限公司-稽核管理制度</h3>
						<div class="time">上传时间：2018-2-1</div>
						<div class="by">By 张晓晓</div>
					</a>
				</li>
				<li class="rule-item">
					<a href="javascript:void(0);">
						<h3 class="tit ellipsis-2">锦创科技股份有限公司-投诉（预警）管理制度</h3>
						<div class="time">上传时间：2018-2-1</div>
						<div class="by">By 张晓晓</div>
					</a>
				</li>
				<li class="rule-item">
					<a href="javascript:void(0);">
						<h3 class="tit ellipsis-2">锦创科技股份有限公司-考勤管理办法</h3>
						<div class="time">上传时间：2018-2-1</div>
						<div class="by">By 张晓晓</div>
					</a>
				</li>
				<li class="rule-item">
					<a href="javascript:void(0);">
						<h3 class="tit ellipsis-2">锦创科技股份有限公司-员工待岗管理暂行办</h3>
						<div class="time">上传时间：2018-2-1</div>
						<div class="by">By 张晓晓</div>
					</a>
				</li>
				<li class="rule-item">
					<a href="javascript:void(0);">
						<h3 class="tit ellipsis-2">锦创科技股份有限公司-员工行为守则</h3>
						<div class="time">上传时间：2018-2-1</div>
						<div class="by">By 张晓晓</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="main clearfix">
			<div class="main-box main-l">
				<div class="jc-title clearfix">
					<h2 class="tit tit-icon icon2">常见问题与答疑</h2>
					<a class="more" href="rule_faq.html">更多</a>
				</div>
				<div class="faq-box collapse">
					<div class="panel active">
						<div class="panel-head">
							<div class="tit">
								<h4>1、对于业务人员在作业时出现“拨号间隔异常”，如何处理？</h4>
								<div class="tag-group">
									<span class="tag">管理</span>
									<span class="tag">稽核</span>
									<span class="tag">绩效</span>
									<span class="tag">扣款</span>
								</div>
							</div>
							<span class="view">浏览<i class="num">998</i>次</span>
							<span class="icon-btn"></span>
						</div>
						<div class="panel-body">
							<div class="reply">
								答：拨号间隔异常，符合以下行为的: <br /> 1 、当日“20 至 30 分钟”无拨号出现 3 次。 <br /> 2 、当日“31 至 60 分钟”无拨号出现 2 次。 <br /> 3 、当日“60 分钟以上”无拨号出现 1 次。 <br /> 处罚:发生以上行为，给予:20 元/天的处罚。
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-head">
							<div class="tit">
								<h4>2、对于业务人员在作业时出现“拨号间隔异常”，如何处理？</h4>
								<div class="tag-group">
									<span class="tag">管理</span>
									<span class="tag">稽核</span>
									<span class="tag">绩效</span>
									<span class="tag">扣款</span>
								</div>
							</div>
							<span class="view">浏览<i class="num">998</i>次</span>
							<span class="icon-btn"></span>
						</div>
						<div class="panel-body">
							<div class="reply">
								答：拨号间隔异常，符合以下行为的: <br /> 1 、当日“20 至 30 分钟”无拨号出现 3 次。 <br /> 2 、当日“31 至 60 分钟”无拨号出现 2 次。 <br /> 3 、当日“60 分钟以上”无拨号出现 1 次。 <br /> 处罚:发生以上行为，给予:20 元/天的处罚。
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-head">
							<div class="tit">
								<h4>3、对于业务人员在作业时出现“拨号间隔异常”，如何处理？</h4>
								<div class="tag-group">
									<span class="tag">管理</span>
									<span class="tag">稽核</span>
									<span class="tag">绩效</span>
									<span class="tag">扣款</span>
								</div>
							</div>
							<span class="view">浏览<i class="num">998</i>次</span>
							<span class="icon-btn"></span>
						</div>
						<div class="panel-body">
							<div class="reply">
								答：拨号间隔异常，符合以下行为的: <br /> 1 、当日“20 至 30 分钟”无拨号出现 3 次。 <br /> 2 、当日“31 至 60 分钟”无拨号出现 2 次。 <br /> 3 、当日“60 分钟以上”无拨号出现 1 次。 <br /> 处罚:发生以上行为，给予:20 元/天的处罚。
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-head">
							<div class="tit">
								<h4>4、对于业务人员在作业时出现“拨号间隔异常”，如何处理？</h4>
								<div class="tag-group">
									<span class="tag">管理</span>
									<span class="tag">稽核</span>
									<span class="tag">绩效</span>
									<span class="tag">扣款</span>
								</div>
							</div>
							<span class="view">浏览<i class="num">998</i>次</span>
							<span class="icon-btn"></span>
						</div>
						<div class="panel-body">
							<div class="reply">
								答：拨号间隔异常，符合以下行为的: <br /> 1 、当日“20 至 30 分钟”无拨号出现 3 次。 <br /> 2 、当日“31 至 60 分钟”无拨号出现 2 次。 <br /> 3 、当日“60 分钟以上”无拨号出现 1 次。 <br /> 处罚:发生以上行为，给予:20 元/天的处罚。
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-head">
							<div class="tit">
								<h4>5、对于业务人员在作业时出现“拨号间隔异常”，如何处理？</h4>
								<div class="tag-group">
									<span class="tag">管理</span>
									<span class="tag">稽核</span>
									<span class="tag">绩效</span>
									<span class="tag">扣款</span>
								</div>
							</div>
							<span class="view">浏览<i class="num">998</i>次</span>
							<span class="icon-btn"></span>
						</div>
						<div class="panel-body">
							<div class="reply">
								答：拨号间隔异常，符合以下行为的: <br /> 1 、当日“20 至 30 分钟”无拨号出现 3 次。 <br /> 2 、当日“31 至 60 分钟”无拨号出现 2 次。 <br /> 3 、当日“60 分钟以上”无拨号出现 1 次。 <br /> 处罚:发生以上行为，给予:20 元/天的处罚。
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-head">
							<div class="tit">
								<h4>6、对于业务人员在作业时出现“拨号间隔异常”，如何处理？</h4>
								<div class="tag-group">
									<span class="tag">管理</span>
									<span class="tag">稽核</span>
									<span class="tag">绩效</span>
									<span class="tag">扣款</span>
								</div>
							</div>
							<span class="view">浏览<i class="num">998</i>次</span>
							<span class="icon-btn"></span>
						</div>
						<div class="panel-body">
							<div class="reply">
								答：拨号间隔异常，符合以下行为的: <br /> 1 、当日“20 至 30 分钟”无拨号出现 3 次。 <br /> 2 、当日“31 至 60 分钟”无拨号出现 2 次。 <br /> 3 、当日“60 分钟以上”无拨号出现 1 次。 <br /> 处罚:发生以上行为，给予:20 元/天的处罚。
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-head">
							<div class="tit">
								<h4>7、对于业务人员在作业时出现“拨号间隔异常”，如何处理？</h4>
								<div class="tag-group">
									<span class="tag">管理</span>
									<span class="tag">稽核</span>
									<span class="tag">绩效</span>
									<span class="tag">扣款</span>
								</div>
							</div>
							<span class="view">浏览<i class="num">998</i>次</span>
							<span class="icon-btn"></span>
						</div>
						<div class="panel-body">
							<div class="reply">
								答：拨号间隔异常，符合以下行为的: <br /> 1 、当日“20 至 30 分钟”无拨号出现 3 次。 <br /> 2 、当日“31 至 60 分钟”无拨号出现 2 次。 <br /> 3 、当日“60 分钟以上”无拨号出现 1 次。 <br /> 处罚:发生以上行为，给予:20 元/天的处罚。
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-head">
							<div class="tit">
								<h4>8、对于业务人员在作业时出现“拨号间隔异常”，如何处理？</h4>
								<div class="tag-group">
									<span class="tag">管理</span>
									<span class="tag">稽核</span>
									<span class="tag">绩效</span>
									<span class="tag">扣款</span>
								</div>
							</div>
							<span class="view">浏览<i class="num">998</i>次</span>
							<span class="icon-btn"></span>
						</div>
						<div class="panel-body">
							<div class="reply">
								答：拨号间隔异常，符合以下行为的: <br /> 1 、当日“20 至 30 分钟”无拨号出现 3 次。 <br /> 2 、当日“31 至 60 分钟”无拨号出现 2 次。 <br /> 3 、当日“60 分钟以上”无拨号出现 1 次。 <br /> 处罚:发生以上行为，给予:20 元/天的处罚。
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="main-box main-r">
				<div class="jc-title clearfix">
					<h2 class="tit tit-icon icon3">高频咨询</h2>
				</div>
				<ul class="hot-consult">
					<li class="consult-item">
						<h3 class="question">问：请问能在周末前后再休/请假5天吗？</h3>
						<p class="answer">答：不可以，连休5天以上需经过总裁审核后方可；请参见
							<a class="rule" href="javascript:void(0);">员工休假管理制度</a>第三章第四点</p>
					</li>
					<li class="consult-item">
						<h3 class="question">问：请问能在周末前后再休/请假5天吗？</h3>
						<p class="answer">答：不可以，连休5天以上需经过总裁审核后方可；请参见
							<a class="rule" href="javascript:void(0);">员工休假管理制度</a>第三章第四点</p>
					</li>
					<li class="consult-item">
						<h3 class="question">问：请问能在周末前后再休/请假5天吗？</h3>
						<p class="answer">答：不可以，连休5天以上需经过总裁审核后方可；请参见
							<a class="rule" href="javascript:void(0);">员工休假管理制度</a>第三章第四点</p>
					</li>
					<li class="consult-item">
						<h3 class="question">问：请问能在周末前后再休/请假5天吗？</h3>
						<p class="answer">答：不可以，连休5天以上需经过总裁审核后方可；请参见
							<a class="rule" href="javascript:void(0);">员工休假管理制度</a>第三章第四点</p>
					</li>
					<li class="consult-item">
						<h3 class="question">问：请问能在周末前后再休/请假5天吗？</h3>
						<p class="answer">答：不可以，连休5天以上需经过总裁审核后方可；请参见
							<a class="rule" href="javascript:void(0);">员工休假管理制度</a>第三章第四点</p>
					</li>
				</ul>
			</div>
		</div>

		<!--返回顶部-->
		<a href="javascript:void(0);" class="return_top"></a>

	</body>
	<script src="../js/public.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(function() {
			$(".collapse .icon-btn").each(function() {
				var e = $(this);
				e.click(function() {
					var panel = e.closest(".panel");
					panel.toggleClass("active");
				})
			});

		});
	</script>
